<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Default</title>
    {% endif %}
  </head>
  <body>
    <div class="jumbotron" style="margin: 20px; padding:20px;">
      <a href="/"> Home </a> -
      <a href="/user"> User </a> -
      <a href="/login"> Login </a> - 
      <a href="/user-template"> User-template </a>
    </div>
    <div class="container">
      <hr>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
